<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tweets</title>

</head>
<body>   
  
    <h1 >All Tweets </h1>
    <ul>
        <%for (let tweet of tweets){%>

             <li><a class="alink" href="/tweets/<%= tweet._id %>"><%= tweet.name %></a></li>

        <%}%>
    </ul>


    <a href="/tweets/new">New Tweet</a>



</body>
</html>